Dados_Ocupacoes/
FiltroOtimo/AmplitudeEstimada_OF/
FiltroOtimo/A_tau_OF
ManipulacaoDados/DadosPorOcupacao/
ManipulacaoDados/DadosConcatenados/
Plots/Dados/
RedeNeuralConvolucional/CNN_1/
RedeNeuralConvolucional/CNN_2/
RedeNeuralConvolucional/CNN_3/
RedeNeuralConvolucional/CNN_4/
RedeNeuralConvolucional/CNN_5/
RedeNeuralConvolucional/CNN_6/
RedeNeuralConvolucional/CNN_7/
RedeNeuralConvolucional/CNN_8/
